.cart-body {
  display: flex;
  align-items: center;
  gap: 2rem;
  .cart-item-container {
    margin-left: 1rem;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0px 3px 8px rgb(189, 189, 189);
    overflow: auto;
    height: 72vh;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .cart-item {
      border: 1px solid rgb(212, 212, 212);
      padding: 1rem;
      width: 25rem;
      height: 18rem;
      display: flex;
      align-items: center;
      gap: 2rem;
      img {
        height: 15rem;
      }
      .winery {
        font-size: 1.2rem;
        color: #7a120a;
      }
      .wine {
        height: 4rem;
      }
      .quantity {
        display: flex;
        align-items: center;
        gap: 1rem;
        span {
          //   background-color: #7a120a;
          border: 1px solid #7a120a;
          padding: 0.5rem 0.8rem;

          border-radius: 8px;
        }
        .remove-btn {
          border-radius: 100%;
          border: none;
          background-color: transparent;
          cursor: pointer;
          svg {
            fill: #7a120a;
          }
        }
      }
    }
  }
  .all-btns {
    .clear-cart {
        border: none;
        background-color: #434343;
        color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;

    }
  }
}
