ul{
	list-style: none;
}
#root{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.image{
	display: flex;
	justify-content: center;
}
.all-items{
	display: flex;
	gap: 2rem;
	margin-top: 2rem;
}
.items{
	width: 7rem;
	border: 1px dashed;
	padding: 1rem;
	justify-content: center;
	align-items: center;
}